<footer id="footer" class="mt-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-1">
                <div class="footer-info">
                    <img src="/aset/name.png" alt="Bacotz Group" width="150" height="40" class="mb-1">
                    <div class="social-links mt-1">
                        <a href="https://lynk.id/ciloworld" aria-label="tiktok"><i class="bi bi-tiktok"></i></a>
                        <a href="https://lynk.id/ciloworld" aria-label="IG"><i class="bi bi-instagram"></i></a>
                        <a href="https://lynk.id/ciloworld" aria-label="youtube"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-1">
                <div class="ojk-info text-center">
                    <img src="/aset/ojk.png" alt="OJK" class="mb-1" width="150">
                    <p>Terdaftar dan diawasi oleh Otoritas Jasa Keuangan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="text-center">
                <p>&copy; 2025 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
