<!-- Header -->
<header id="header" class="fixed-top">
    <div id="sub-header">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="contact-info">
                    <i class="bi bi-envelope"></i> <a href="mailto:cs@bacotzgroup.com">cs@bacotzgroup.com</a>
                    <i class="bi bi-phone"></i> <a href="tel:+622112345678">(021) 1234-5678</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="./main.html" class="navbar-brand">
                <img src="./aset/name.png" alt="Bacotz Group" width="150" height="40" class="d-inline-block align-text-top">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main.html" data-nav="main">Beranda</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Layanan
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/service/pembiayaan-investasi.html">Pendanaan Investasi</a></li>
                            <li><a class="dropdown-item" href="/service/pembiayaan-kendaraan.html">Pendanaan Kendaraan</a></li>
                            <li><a class="dropdown-item" href="/service/pembiayaan-modal-kerja.html">Pendanaan Modal Kerja</a></li>
                            <li><a class="dropdown-item" href="/service/pembiayaan-renovasi.html">Pendanaan Renovasi</a></li>
                            <li><a class="dropdown-item" href="/service/pembiayaan-rumah.html">Pendanaan Rumah</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">Tentang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">Konsultasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button-main ms-lg-3" href="/apply.html">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
